body, html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0D0D0D;
    color: #E6E6E6;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #F2F2F2;
}

p {
    font-size: 1.2rem;
    color: #B3B3B3;
}

.contact-details {
    margin-top: 30px;
}

.contact-details p {
    margin: 10px 0;
}

.contact-details a {
    color: #FFCC66;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}